//Colors//

$white: #FFFFFF;
$black: #000000;
$sable: #060606;
$charcoal: #2E1503;

$tangerine: #FFAF6D;
$orange: #FFA500;

//Typography//

$ubuntu: "Ubuntu", sans-serif;
$poppins: "Poppins", sans-serif;

//Font-Sizes//

$x-small: 12px;
$small: 14px;
$medium: 16px;
$large: 20px;
$x-large: 30px;
$xx-large: 35px;
$xxx-large: 40px;
$xxxx-large: 45px;
$xxxxx-large: 50px;


//Font-Weights//

$regular: 400;
$bold: 700;

//Views//:
$max-mobile-xs:514px;
$max-mobile:768px;
$max-tablet:991px;
$min-laptop:1200px;

